*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // border: 1px solid red;
    widows: 100%;
}

.container{
    width: inherit;

    .navbar{
        // border: 1px solid red;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 40px;
            border: 3px solid black;
            padding: 10px;
        }
    }

    header{
        // border: 1px solid red;
        width: 100%;
        height: 470px;
        background: url(https://images.pexels.com/photos/998589/pexels-photo-998589.jpeg?cs=srgb&dl=pexels-jessica-lewis-creative-998589.jpg&fm=jpg) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #000;

        h2{
            border: inherit;
            font-size: 30px;
            margin: 50px;
        }
        p{
            border: inherit;
            text-align: center;
            padding: 0 420px;
            margin: 30px;
            font-size: 20px;
        }
        button{
            padding: 10px 50px;
            border: none;
            border-radius: 20px;
            background-color: #00dddd;
            color: #fff;
        }
    }

    .user-card{
        // border: 1px solid black;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .card{
            border: 1px solid black;
            width: 350px;
            height: 475px;
            margin: 20px 0;

            .mone{
                border-bottom: 1px solid black;
                width: 100%;
                height: 125px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2{
                    font-size: 30px;
                    color: #221b49;
                    line-height: 40px;
                }
                p{
                    font-size: 20px;
                    span{
                        &:nth-child(1){
                            color: #03bb03;
                            font-size: 30px;
                            padding: 0 8px;
                        }
                    }
                }
            }

            .boxadd{
                height: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p{
                    font-size: 20px;
                    word-spacing: 2px;
                    line-height: 40px;
                    span{
                        font-weight: 600;
                    }
                }

                button{
                    padding: 8px 100px;
                    margin-top: 20px;
                    border: none;
                    background: #00bebe;
                    font-size: 15px;
                    color: #fff ;
                    border-radius: 5px;
                }
            }
        }
    }

    .user-featured{
        // border: 1px solid red;
        width: 100%;
        height: 500px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid gray;
        h1{
            padding: 5px;
        }

        .user-imgText{
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            .user-img{
                width: 440px;
                height: 350px;
                padding: 0 10px;
                margin: 10px 0;
                img{
                    width: 100%;
                    height: 200px;
                    object-fit:cover;
                    border-radius: 10px;
                }
                p{
                    font-size: 18px;
                    padding: 5px 8px;
                }
                ul{
                    padding: 10px 0px 10px 35px;
                    li{
                        line-height: 25px;
                    }
                }
            }
        }

        button{
            padding: 10px 100px;
            border-radius: 20px;
            border: none;
            background: #00bebe;
            font-size: 15px;
            color: #fff;
            margin: 10px 0;
        }
    }

    .user-aboutText{
        border: 1px solid red;
        width: 100%;
        height: 560px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: cursive;
        }

        p{
            padding: 10px;
            font-size: 17px;
            text-align: center;
        }

        .user-textImg{
            border: inherit;
            width: 100%;
            // height: 470px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 0;

            .user-text{
                border: inherit;
                width: 750px;
                height: 450px;

                p{
                    padding: 0 25px;
                    font-size: 17.5px;
                    font-family: cursive;
                    word-spacing: 2.5px;

                    span{
                        display: block;
                        line-height: 50px;
                        font-size: 27px;
                    }
                }
            }

            .user-img{
                border:inherit;
                width: 650px;
                height: 450px;

                img{
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            }
        }
    }

    footer{
        margin: 10px 0;
        // border: 1px solid red;
        height: 200px;
        background: url(https://t4.ftcdn.net/jpg/05/00/76/75/360_F_500767502_AdezwSUsyb04l79RpV6zubKulRnIHpd0.jpg) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        h1{
            font-size: 25px;
        }
        ul{
            font-size: 30px;
            i{
                margin: 10px 7px;
            }
        }
    }
}


@media only screen and (max-width:500px) {
    .container{
        .navbar{
            height: 80px;
            h1{
                font-size: 20px;
                border: 2px solid black;
                padding: 10px 40px;
                letter-spacing: 4px;
            }
        }
        header{
            color: #fff;
            h2{
                font-size: 25px;
                text-align: center;
                margin: 15px 0;
                padding: 10px 20px;
            }

            p{
                padding: 0 20px;
                margin: 50px 0;
                line-height: 25px;
            }
        }

        .user-card{
            height: 1600px;
        }

        .user-featured{
            height: 1220px;
        }

        .user-aboutText{
            height: 1500px;

            .user-textImg{
                height: 1500px;

                .user-text{
                    height: 900px;
                }

                .user-img{
                    padding: 10px;
                    img{
                        height: 430px;
                    }
                }
            }
        }

        footer{
            h1{
                font-size: 20px;
            }
            ul{
                font-size: 25px;
            }
        }
    }
}