.contact {
    /* border: 2px solid red; */
    width: 100%;
    height: 450px;
    position: relative;
}

.contact h2 {
    position: absolute;
    top: 0;
    left: 45%;
    padding-top: 50px;
    border-bottom: 3px solid red;
    /* border: inherit; */
    font-family: cursive;
    width: 130px;
    text-align: center;
}

.contact .cont{
    border: inherit;
    position: absolute;
    top: 120px;
    left: 130px;
    width: 40%;
    height: 320px;
}

.contact .cont .input1{
    border: none;
    position: absolute;
    top: 10px;
    left: 40px;
    border-bottom: 2px solid red;
    padding: 5px 50px 5px 10px;
}

.contact .cont .input2{
    border: none;
    position: absolute;
    top: 10px;
    left: 290px;
    border-bottom: 2px solid red;
    padding: 5px 50px 5px 10px;
}

.contact .cont textarea{
    border: none;
    width: 470px;
    height: 110px;
    position: absolute;
    top: 80px;
    left: 50px;
    border-bottom: 2px solid red;
}

.contact .cont .input3{
    border: 2px solid rgb(208, 35, 35);
    position: absolute;
    top: 220px;
    left: 200px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: rgb(208, 35, 35);
    color: white;
}

.contact .emnumber {
    /* border: 2px solid red; */
    width: 400px;
    height: 300px;
    position: absolute;
    top: 120px;
    right: 100px;
}

.contact .emnumber h4{
    position: absolute;
    left: 10px;
    font-family: cursive;
    color: red;
    font-size: 1.08rem;
}

.contact .emnumber p{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 1.08rem;
}

.contact .emnumber .number{
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 0.9rem;
}