@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --ochqora: #3c393d;
    --toqqora: #2b2b2b;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Quicksand);
    }
html{
    scroll-behavior: smooth;
    }
body{
    line-height: 1.4;
    color: var(--ochqora);
    }
img{
    width: 100%;
    display: block;
    }
.header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-bg.jpg) center/cover no-repeat fixed;
}